.results-search
  = haml :_search

.main
  - if search_results.nil? || search_results.empty?
    .item
      .title
        No Results :(
  - else
    - search_results.each do |result|
      .item
        .title
          %a{ href: "/show?url=#{result.url}" }= result.title
        .artist
          = " by #{result.artist}"
        .type
          = result.type
    .page_links
      - if params[:page].to_i > 1
        %a{ href: "/results?query=#{params[:query]}&page=#{params[:page].to_i - 1}" }= "< Previous"
      - if next_page
        %a{ href: "/results?query=#{params[:query]}&page=#{next_page}" }= "Next >"
